.myDiv {
  margin: 4% 10% 4% 10%;
  padding: 4% 4% 4% 4%;
  border: 2px solid #f8f8f8;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.12),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:active {
  margin-top: 5%;
  width: 15%;
  border-radius: 0px;
  background-color: #01a009;
  border-color: #01a009;
  box-shadow: 2px 8px 12px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 4px rgba(0, 0, 0, 0.19);
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 15%;
  border-radius: 0px;
  background-color: #01a009;
  border-color: #01a009;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover {
  margin-top: 5%;
  width: 15%;
  border-radius: 0px;
  background-color: #01a009;
  border-color: #01a009;
  box-shadow: 2px 8px 12px 2px rgba(0, 0, 0, 0.2),
  0 6px 20px 4px rgba(0, 0, 0, 0.19);
}

label {
  text-align: center;
  margin: 7% auto 2% auto;
  display: block;
}